<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='view.css') }}">
  <title>نمایش سطرها</title>
</head>
<body>
  <div class="container">
    <div class="row">
        <div class="col">From : {{names[0]}} </div>
    </div>
    <div class="row">
        <div class="col">To : {{names[-1]}}</div>
    </div>
    <div class="row">
      <div class="col">  ...  </div>
  </div>
    
    {% for name in names %}    
        <div class="row">
            <div class="col">{{ name }}</div>
        </div>
    {% endfor %}

  </div>
</body>
</html>